.more_red_lace{
    --more_red_lace_delay:0s;

    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
.more_red_lace .more_red_lace_content{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 100vw;
}
/* 主图 */
.more_red_lace .more_red_lace_content .more_red_lace_main_pic{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: more_red_lace_main_pic .8s ease-in-out;
    animation-fill-mode : forwards;
    -webkit-animation-fill-mode : forwards;
    animation-delay:calc(var(--more_red_lace_delay) + .25s);
    -webkit-animation-delay:calc(var(--more_red_lace_delay) + .25s);
}
@keyframes more_red_lace_main_pic {
    0%{}
    100%{transform: translateX(-100vw);}
}
.more_red_lace .more_red_lace_content .more_red_lace_main_pic img{
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 26% 100%, 26% 0, 26% 0, 26% 100%, 59% 100%, 12% 100%, 100% 100%, 100% 0%);
    clip-path: polygon(0% 0%, 0% 100%, 26% 100%, 26% 0, 26% 0, 26% 100%, 59% 100%, 12% 100%, 100% 100%, 100% 0%);
    animation: more_red_lace_main_pic_img .8s ease-in-out;
    animation-fill-mode : forwards;
    -webkit-animation-fill-mode : forwards;
    animation-delay:calc(var(--more_red_lace_delay) + 4s);
    -webkit-animation-delay:calc(var(--more_red_lace_delay) + 4s);
}
@keyframes more_red_lace_main_pic_img {
    0%{}
    100%{
        -webkit-clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
        clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
    }
}
/* 花边 */
.more_red_lace .more_red_lace_content .more_red_lace_lace{
    height: 100%;
    display: flex;
}
.more_red_lace .more_red_lace_content .more_red_lace_lace .more_red_lace_lace_white{
    position: absolute;
    width: 60vw;
    height: 100%;
    background-color: white;
    animation: more_red_lace_lace_white_img 2s ease-in-out;
    animation-fill-mode : forwards;
    -webkit-animation-fill-mode : forwards;
    animation-delay:calc(var(--more_red_lace_delay) + 0s);
    -webkit-animation-delay:calc(var(--more_red_lace_delay) + 0s);
}
@keyframes more_red_lace_lace_white_img {
    0%{}
    40%{transform: translateX(-100vw);}
    69%{transform: translateX(-100vw);opacity: 1;}
    70%{transform: translateX(-100vw);opacity: 0;}
    100%{transform: translateX(-100vw);opacity: 0;}
}
.more_red_lace .more_red_lace_content .more_red_lace_lace .more_red_lace_lace_img{
    width: 60vw;
    height: 100%;
    animation: more_red_lace_lace_white_img 2s ease-in-out;
    animation-fill-mode : forwards;
    -webkit-animation-fill-mode : forwards;
    animation-delay:calc(var(--more_red_lace_delay) + .1s);
    -webkit-animation-delay:calc(var(--more_red_lace_delay) + .1s);
}
.more_red_lace .more_red_lace_content .more_red_lace_lace .more_red_lace_lace_img img{
    width: 100%;
    height: 100%;
}