.only_picture_switch{
    --only_picture_switch_delay: 0s;
}
.three_pic_left_move{
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    animation: three_pic_left_move 4s ease;
    animation-fill-mode : forwards; 
    -webkit-animation-fill-mode : forwards;
    animation-delay:calc(var(--only_picture_switch_delay) + 0s);
    -webkit-animation-delay:calc(var(--only_picture_switch_delay) + 0s);
}
@keyframes three_pic_left_move {
    0%{}
    80%{transform: translateX(-200vw);opacity: 1;}
    100%{transform: translateX(-200vw);opacity: 1;} 
}
.three_pic_left_move .three_pic_left_move_img{
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
}
.three_pic_left_move .three_pic_left_move_img img{
    width: 100%;
    height: 100%;
}
.three_pic_left_move .three_pic_left_move_img:nth-child(3) img{
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    animation: three_pic_left_move_img_3 1s ease;
    animation-fill-mode : forwards; 
    -webkit-animation-fill-mode : forwards;
    animation-delay:calc(var(--only_picture_switch_delay) + 4s);
    -webkit-animation-delay:calc(var(--only_picture_switch_delay) + 4s);
}
@keyframes three_pic_left_move_img_3 {
    0%{}
    100%{
        -webkit-clip-path: inset(0 0 0 100%);
        clip-path: inset(0 0 0 100%);
    } 
}
/* 图片裁剪切换 */
.picture_clip_switch{
    width: 100vw;
    height: 100vh;
}
.picture_clip_switch .clip_switch_img{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}
.picture_clip_switch .clip_switch_img img{
    width: 100vw;
    height: 100vh;
}
.picture_clip_switch .clip_switch_img:nth-child(3) img{
    transform: scale(1.2);
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    animation: clip_switch_img_1 5s ease;
    animation-fill-mode : forwards; 
    -webkit-animation-fill-mode : forwards;
    animation-delay:calc(var(--only_picture_switch_delay) + 4s);
    -webkit-animation-delay:calc(var(--only_picture_switch_delay) + 4s);
}
@keyframes clip_switch_img_1 {
    0%{}
    80%{
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
    }
    100%{
        transform: scale(1.2) translateY(-1vw);
        -webkit-clip-path: inset(0 0 100% 0);
        clip-path: inset(0 0 100% 0);
    } 
}
.picture_clip_switch .clip_switch_img:nth-child(2) img{
    transform: scale(1.2);
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    animation: clip_switch_img_2 5s ease;
    animation-fill-mode : forwards; 
    -webkit-animation-fill-mode : forwards;
    animation-delay:calc(var(--only_picture_switch_delay) + 9s);
    -webkit-animation-delay:calc(var(--only_picture_switch_delay) + 9s);
}
@keyframes clip_switch_img_2 {
    0%{}
    80%{
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
    }
    100%{
        transform: scale(1.2) translateY(1vw);
        -webkit-clip-path: inset(100% 0 0 0);
        clip-path: inset(100% 0 0 0);
    } 
}
.picture_clip_switch .clip_switch_img:nth-child(1) img{
    transform: scale(1.1);
    animation: clip_switch_img_3 5s ease;
    animation-fill-mode : forwards; 
    -webkit-animation-fill-mode : forwards;
    animation-delay:calc(var(--only_picture_switch_delay) + 14s);
    -webkit-animation-delay:calc(var(--only_picture_switch_delay) + 14s);
}
@keyframes clip_switch_img_3 {
    0%{}
    100%{
        transform: scale(1.04);
    } 
}