/* 正方形变圆形 */
.squareToCircular{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.squareToCircular div{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.squareToCircular div img{
    transform: scale(1.3);
    width: 100%;
    height: 100%;
}
.squareToCircular div:nth-child(1){
    width: 100%;
    height: 100%;
    -webkit-clip-path: inset(50% 47% 50% 47% round 2em);
    clip-path: inset(50% 47% 50% 47% round 2em);
    animation: squareToCircularBox_1 2s ease-in-out;
    animation-fill-mode : forwards; 
    -webkit-animation-fill-mode : forwards;
    animation-delay:0s;
    -webkit-animation-delay: 0s;
}
@keyframes squareToCircularBox_1 {
    0%{}
    10%{
        -webkit-clip-path: inset(48% 45% 48% 45% round 2em);
        clip-path: inset(48% 45% 48% 45% round 2em);
    }
    50%{
        -webkit-clip-path: inset(15vh 33vw 15vh 33vw round 2em);
        clip-path: inset(15vh 33vw 15vh 33vw round 2em);
    }
    70%{
        -webkit-clip-path: inset(-25vh -10vw -25vh -10vw round 200px);
        clip-path: inset(-25vh -10vw -25vh -10vw round 200px);
    }
    100%{
        -webkit-clip-path: inset(-25vh -10vw -25vh -10vw round 200px);
        clip-path: inset(-25vh -10vw -25vh -10vw round 200px);
    }
}

/* 第一层 */
.squareToCircular div:nth-child(4){
    width: 100%;
    height: 100%;
    -webkit-clip-path: inset(25vh 38vw 25vh 38vw round 3em);
    clip-path: inset(25vh 38vw 25vh 38vw round 3em);
    animation: squareToCircularBox_4 2s ease-in-out;
    animation-fill-mode : forwards; 
    -webkit-animation-fill-mode : forwards;
    animation-delay:1s;
    -webkit-animation-delay: 1s;
}
@keyframes squareToCircularBox_4 {
    0%{}
    50%{
        -webkit-clip-path: inset(20vh 35vw 20vh 35vw round 4em);
        clip-path: inset(20vh 35vw 20vh 35vw round 4em);
    }
    100%{
        -webkit-clip-path: inset(2.9vh 27vw 2.9vh 27vw round 400px);
        clip-path: inset(2.9vh 27vw 2.9vh 27vw round 400px);
    }
}

/* 第二层 */
.squareToCircular div:nth-child(3){
    width: 100%;
    height: 100%;
    -webkit-clip-path: inset(25vh 38vw 25vh 38vw round 3em);
    clip-path: inset(25vh 38vw 25vh 38vw round 3em);
    animation: squareToCircularBox_3 2s ease-in-out;
    animation-fill-mode : forwards; 
    -webkit-animation-fill-mode : forwards;
    animation-delay:1s;
    -webkit-animation-delay: 1s;
}
@keyframes squareToCircularBox_3 {
    0%{}
    50%{
        -webkit-clip-path: inset(16vh 31vw 16vh 31vw round 4em);
        clip-path: inset(16vh 31vw 16vh 31vw round 4em);
    }
    100%{
        -webkit-clip-path: inset(-1.1vh 23vw -1.1vh 23vw round 400px);
        clip-path: inset(-1.1vh 23vw -1.1vh 23vw round 400px);
    }
}
.squareToCircular div:nth-child(3) img{
    -webkit-filter: opacity(70%);
    filter: opacity(70%);
    transform: scale(1.25);
}
/* 第三层 */
.squareToCircular div:nth-child(2){
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-clip-path: inset(25vh 38vw 25vh 38vw round 3em);
    clip-path: inset(25vh 38vw 25vh 38vw round 3em);
    animation: squareToCircularBox_2 1s ease-in-out;
    animation-fill-mode : forwards; 
    -webkit-animation-fill-mode : forwards;
    animation-delay:1s;
    -webkit-animation-delay: 1s;
}
@keyframes squareToCircularBox_3 {
    0%{}
    50%{
        -webkit-clip-path: inset(16vh 31vw 16vh 31vw round 4em);
        clip-path: inset(16vh 31vw 16vh 31vw round 4em);
    }
    100%{
        -webkit-clip-path: inset(-1.1vh 23vw -1.1vh 23vw round 400px);
        clip-path: inset(-1.1vh 23vw -1.1vh 23vw round 400px);
    }
}
.squareToCircular div:nth-child(2) img{
    transform: scale(1.25);
}